<header>
  <div class="site-header">
    <div class="site-logo">
      <!-- Logo -->
      <a href="{{ shop.url }}">
        <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
      </a>
    </div>

    <nav class="site-navigation">
      <!-- Navigation Menu -->
      <ul>
        {% for link in linklists.main-menu.links %}
          <li><a href="{{ link.url}}">{{"name"}}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="site-header-icons">
      <!-- Search Icon -->
      <a href="/search" class="search-icon">
        <i class="icon-search"></i>
      </a>
      <!-- Cart Icon -->
      <a href="/cart" class="cart-icon">
        <i class="icon-cart"></i>
      </a>
    </div>
  </div>
</header>
